/* This is the webpage background image  */
body {
    background-image: url("./Images/bodyBackgroundImg.png"); 
}

/* this is the header and content in the header  */
#header-img{
    height: 720px;
    width: 100%; 
    background-image: url("./Images/PR_AspenChamber_maroonbellsJeremySwanson.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
}


#header-card {
    background-color: #f3ececa6; 
    margin-top: 75px; 
}

/* Center aligning the text in header  */
h1 { 
    font-family: 'Pacifico', cursive;
    font-size: 40px; 
    text-align: center; 
    color: rgb(71, 71, 71); 
}


/* Center align the description under the header  */
#header-description{
    text-align: center;
} 

/* This is for the explore btn  */
#exploreBTN {
    font-family: 'Pacifico', cursive;
    font-size: 20px; 
    width: 150px; 
}

/* This is for the nav under the header image  */
#FindYourTrailText {
    font-family: 'Pacifico', cursive;
    font-size: 25px; 
    padding-left: 20px; 
    color: rgb(71, 71, 71); 
    padding-top: 12px; 
}


/* this is for all buttns within the four content containers  */
#smaller-explore-btn {
    font-family: 'Pacifico', cursive;
    font-size: 20px; 
    transition: transform 1s;
    
}
#smaller-explore-btn:hover {
    transform: skewX(-20deg);
}

/* This is centering the text with the card body  */
.card-body {
    text-align: center;
}

/* This removes the bootstrap border around the cards  */
.card   {
    border: 0px; 
}

/* This is for all four content containers  */
#box-Containers {
    margin-left: 15px; 
    margin-right: 15px; 
}


/* This is for all four containers on the page */

h5 {
    font-family: 'Pacifico', cursive;
    font-size: 30px; 
    color: rgb(71, 71, 71); 
}

.card-text{
    font-family: 'Handlee', cursive;
    font-size: 20px; 
}

.biking-images {
    border-radius: 3%; 
    margin-top: 10px; 
    height: 88%; 
    width: 88%; 
    box-shadow: #696868 3px; 

}


/* This is the footer  */
#footer {
    background-color: #8d89896c; 
    height: 40px; 
    margin-top: 15px; 
    bottom: 0;
    width: 100%;
}

#copyright-text {
    font-size: 10px; 
    padding-left: 10px; 
    padding-top: 10px; 
    color: #696868
}